<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod=" 5 seconds" debug="false">
  <property name="LOG_PATH" value="${${rootArtifactId}.logback.dir}"/>

  <!-- ${rootArtifactId} 日志输出格式 -->
  <property name="OUTPUT_PATTERN"
            value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{15} - %msg%n"/>

  <!-- 框架日志输出格式-->
  <property name="FW_OUTPUT_PATTERN"
            value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{15} - %msg%n"/>

  <!--日志文件保留最大天数-->
  <property name="MAXDAY" value="10"/>

  <!--日志文件滚动阈值-->
  <property name="MAXSIZE" value="256MB"/>

  <!-- 普通日志 -->
  <appender name="${rootArtifactId}Track" class="com.youzan.track.appender.TrackAppender">
    <!-- 应用名称 -->
    <app>${rootArtifactId}</app>
    <!-- 自定义的一个日志的类型，业务方自己用 可日后查询 required -->
    <type>${rootArtifactId}_log</type>
    <!-- 特定的kafka订阅topic 使日志物理隔离-->
    <topic>${rootArtifactId}</topic>
    <!-- 消息体格式 同logback的pattern 默认 %msg -->
    <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
    <!-- 开发环境 指向192.168.66.204 线上环境指向127.0.0.1 -->
    <host>127.0.0.1</host>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${OUTPUT_PATTERN}</pattern>
    </encoder>
  </appender>

  <appender name="ALARM" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${LOG_PATH}/alarm.log</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- rollover daily -->
      <fileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd}/alarm-%d{yyyy-MM-dd}-%i.log.gz
      </fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy
          class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>${MAXSIZE}</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
      <maxHistory>${MAXDAY}</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>${OUTPUT_PATTERN}</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印错误日志 -->
      <level>WARN</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
  </appender>

  <appender name="BUSINESS" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${LOG_PATH}/${rootArtifactId}.log</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- rollover daily -->
      <fileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd}/${rootArtifactId}-%d{yyyy-MM-dd}-%i.log.gz
      </fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy
          class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>${MAXSIZE}</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
      <maxHistory>${MAXDAY}</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>${OUTPUT_PATTERN}</pattern>
    </encoder>
  </appender>

  <appender name="MESSAGE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${LOG_PATH}/message.log</File>
    <rollingPolicy
        class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- rollover daily -->
      <fileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd}/message-%d{yyyy-MM-dd}-%i.log.gz
      </fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy
          class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>${MAXSIZE}</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
      <maxHistory>${MAXDAY}</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>${OUTPUT_PATTERN}</pattern>
    </encoder>
  </appender>

  <appender name="DUBBO" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${LOG_PATH}/dubbo.log</File>
    <rollingPolicy
        class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- rollover daily -->
      <fileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd}/dubbo-%d{yyyy-MM-dd}-%i.log.gz
      </fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy
          class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>${MAXSIZE}</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
      <maxHistory>${MAXDAY}</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>${FW_OUTPUT_PATTERN}</pattern>
    </encoder>
  </appender>

  <appender name="SQL" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${LOG_PATH}/sql.log</File>
    <rollingPolicy
        class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- rollover daily -->
      <fileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd}/sql-%d{yyyy-MM-dd}-%i.log.gz
      </fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy
          class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>${MAXSIZE}</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
      <maxHistory>${MAXDAY}</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>${FW_OUTPUT_PATTERN}</pattern>
    </encoder>
  </appender>

  <appender name="ROOT" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${LOG_PATH}/root.log</File>
    <rollingPolicy
        class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- rollover daily -->
      <fileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd}/root-%d{yyyy-MM-dd}-%i.log.gz
      </fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy
          class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>${MAXSIZE}</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
      <maxHistory>${MAXDAY}</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>${FW_OUTPUT_PATTERN}</pattern>
    </encoder>
  </appender>

  <logger name="com.youzan" additivity="false">
    <level value="${${rootArtifactId}.logback.level}"/>
    <appender-ref ref="BUSINESS"/>
    <appender-ref ref="ALARM"/>
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="${rootArtifactId}Track"/>
  </logger>

  <logger name="com.alibaba.dubbo" additivity="false">
    <level value="${${rootArtifactId}.logback.level}"/>
    <appender-ref ref="DUBBO"/>
    <appender-ref ref="ALARM"/>
  </logger>

  <logger name="com.alibaba.druid" additivity="false">
    <level value="${${rootArtifactId}.logback.level}"/>
    <appender-ref ref="SQL"/>
    <appender-ref ref="ALARM"/>
  </logger>

  <root level="${${rootArtifactId}.logback.level}">
    <appender-ref ref="ROOT"/>
    <appender-ref ref="ALARM"/>
  </root>



</configuration>